

<div class="wrapper-top">
    <section class="col-md-3 ">
        <div>publicité-1</div>
    </section>
    <section class="col-md-6 ">
        <div>Lecteur</div>
    </section>
    <section class="col-md-3 ">
        <div>publicité-2</div>
    </section>
        
        <nav class="col-md-12">
            
        <div class="navbar navbar-default" role="navigation">           
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                    <li><a href="#">Accueil</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Actualités</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Agenda</a></li>
                    <li class="divider"></li>
                    <li ><a href="#">Tchat</a></li>
               </ul>
            </div><!--/.nav-collapse -->
      </div>
            
            
            
        </nav>
   
</div>